<div class="bg-black">
    <div class="container flex justify-between items-center py-[44px]">
        <div>
            <img src="{{ 'versace.png' | asset_url }}" alt="Brand Logo" width="150px" height="auto">
        </div>
        <div>
            <img src="{{ 'zara.png' | asset_url }}" alt="Brand Logo" width="auto" height="auto">
        </div>
        <div>
            <img src="{{ 'gucci.png' | asset_url }}" alt="Brand Logo" width="150px" height="auto">
        </div>
        <div>
            <img src="{{ 'prada.png' | asset_url }}" alt="Brand Logo" width="150px" height="auto">
        </div>
        <div>
            <img src="{{ 'calvinklen.png' | asset_url }}" alt="Brand Logo" width="150px" height="auto">
        </div>
    </div>
</div>

{% schema %}
{
    "name" : "Brands",
    "disabled_on": {
        "groups": ["header", "footer"],
    },
    "presets": [{"name": "Brands"}],
}
{% endschema %}